* text=auto

*.ipynb text eol=lf
*.md text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.patch text eol=lf

*.mp3 binary
*.mp4 binary
*.wav binary
*.png binary
*.jpg binary
*.jpeg binary
*.zip binary
*.pt binary
*.pth binary
*.bin binary
*.safetensors binary
