.DS_Store
*.log
.idea/
.vscode/
*.pyc
.ipynb_checkpoints
results/
models/**/.cache/
*.bin
*.pth
*.pt
*.ckpt
*.safetensors
**/__pycache__/
*.py[cod]
*$py.class
dataset/
ffmpeg*
ffmprobe*
ffplay*
debug
exp_out
.gradio
